# Tuples and Dictionaries

In [3]:
# List are mutables (Can be change )
bio_data = ['Qasim','Trainers']

In [4]:
bio_data

['Qasim', 'Trainers']

## Tuples
1. Can't be change

In [5]:
biodata = ("Qasim",'Trainers','9to12')

In [6]:
biodata

('Qasim', 'Trainers', '9to12')

In [7]:
type(biodata)

tuple

In [8]:
lst = 1
print(type(lst))

tup = (1,)
print(type(tup))

<class 'int'>
<class 'tuple'>

In [10]:
tup[0]

1

In [11]:
tup.index(1)

0

In [12]:
tup.count(1)

1

In [13]:
tup_my = ('Mehdi',16 ,"5'7")

In [14]:
tup_my

('Mehdi', 16, "5'7")

In [15]:
print(tup_my.count('Mehdi'))
print(tup_my.index(16))

1
1

# Loop

In [19]:
fruits = ['Apple','Mango','Orange','Grapes']

In [20]:
fruits

['Apple', 'Mango', 'Orange', 'Grapes']

In [22]:
'''
for <temp_var> in <Iterator>:
    <body>
'''
for fruit in fruits:
    print(fruit)

Apple
Mango
Orange
Grapes