# Tuples and Dictionaries

In [3]:
# List are mutables (Can be change )
bio_data = ['Qasim','Trainers']

In [4]:
bio_data

['Qasim', 'Trainers']

## Tuples
1. Can't be change

In [5]:
biodata = ("Qasim",'Trainers','9to12')

In [6]:
biodata

('Qasim', 'Trainers', '9to12')

In [7]:
type(biodata)

tuple

In [8]:
lst = 1
print(type(lst))

tup = (1,)
print(type(tup))

<class 'int'>
<class 'tuple'>

In [10]:
tup[0]

1

In [11]:
tup.index(1)

0

In [12]:
tup.count(1)

1

In [13]:
tup_my = ('Mehdi',16 ,"5'7")

In [14]:
tup_my

('Mehdi', 16, "5'7")

In [15]:
print(tup_my.count('Mehdi'))
print(tup_my.index(16))

1
1

# Loop

In [19]:
fruits = ['Apple','Mango','Orange','Grapes']

In [20]:
fruits

['Apple', 'Mango', 'Orange', 'Grapes']

In [22]:
'''
for <temp_var> in <Iterator>:
    <body>
'''
for fruit in fruits:
    print(fruit)

Apple
Mango
Orange
Grapes

In [31]:
for index,t in enumerate(tup_my):
    # if index%2==0:
    #     print(t)
    print(f" On {index} there is {t}")

 On 0 there is Mehdi
 On 1 there is 16
 On 2 there is 5'7

In [29]:
list(tup_my)

['Mehdi', 16, "5'7"]

In [32]:
for data in enumerate(fruits):
    print(f"{data[1]} is at {data[0]}")

Apple is at 0
Mango is at 1
Orange is at 2
Grapes is at 3

In [33]:
fruits_index = [0,1,2,3]
print(fruits_index)

[0, 1, 2, 3]

In [35]:
list(zip(fruits_index,fruits))

[(0, 'Apple'), (1, 'Mango'), (2, 'Orange'), (3, 'Grapes')]

In [36]:
for i in zip(fruits_index,fruits):
    print(i)

(0, 'Apple')
(1, 'Mango')
(2, 'Orange')
(3, 'Grapes')

In [37]:
# make sure index should be in sequence if the index list is greaterthan list of collection

In [39]:
for temp in range(0,11,2):
    print(temp)

0
2
4
6
8
10

In [41]:
for i in range(20,26,3):
    print(i)

20
23

In [42]:
for i in range(15):
    print("Apple")

Apple
Apple
Apple
Apple
Apple
Apple
Apple
Apple
Apple
Apple
Apple
Apple
Apple
Apple
Apple

In [45]:
print("Apples\n"*15)

Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples

In [1]:
clean_cities = ['karachi','Lahore','islamabad']
clean = []

In [6]:
user_input = input("Enter your city for a cricket match = ")
if user_input in clean_cities:
    print("Your team is already in group A")
else:
    clean.append(user_input)

In [7]:
clean

['Multan', 'Hyderabad', 'Larkana']

In [12]:
for a in range(len(clean_cities)):  # Loop through clean_cities list using index a
    for b in range(len(clean)):  # Loop through clean list using index b
        print(clean_cities[a] + ' vs ' + clean[b])  # Print the elements being compared
        if clean_cities[a] == clean_cities[b]:  # Check if elements at the same index in clean_cities match
            print("Matched")  # Print "Matched" if they match
            break  # Exit the inner loop

karachi vs Multan
Matched
Lahore vs Multan
Lahore vs Hyderabad
Matched
islamabad vs Multan
islamabad vs Hyderabad
islamabad vs Larkana
Matched

In [13]:
# Upper 
# lower
# title

# Dictionaries
It always have key value pairs

In [14]:
dic = {
    'age':16,
    'weight':"5'7"
}

In [15]:
print(type(dic))

<class 'dict'>

In [16]:
dic['age']

16

In [17]:
customer = {
    "first name" : "David",
    "Last name " : "Elliot",
    "address" : "Wall Street"
}

In [18]:
customer

{'first name': 'David', 'Last name ': 'Elliot', 'address': 'Wall Street'}

In [19]:
customer['address']

'Wall Street'

In [20]:
customer['age'] = 17

In [21]:
customer

{'first name': 'David',
 'Last name ': 'Elliot',
 'address': 'Wall Street',
 'age': 17}

In [22]:
dict_versatalilty = {1:'Qasim',
                     2:'Hassan',
                     3:'Khan'}

In [23]:
dict_versatalilty

{1: 'Qasim', 2: 'Hassan', 3: 'Khan'}

In [25]:
dict_versatalilty[4] = "Anas"

In [26]:
dict_versatalilty

{1: 'Qasim', 2: 'Hassan', 3: 'Khan', 4: 'Anas'}

In [27]:
dict_versatalilty[2] = "Mehdi"

In [28]:
dict_versatalilty

{1: 'Qasim', 2: 'Mehdi', 3: 'Khan', 4: 'Anas'}

In [29]:
# Keys & Values can both be a number

In [30]:
customer

{'first name': 'David',
 'Last name ': 'Elliot',
 'address': 'Wall Street',
 'age': 17}

In [31]:
customer['Phone Number'] = '+923328829273'

In [32]:
customer

{'first name': 'David',
 'Last name ': 'Elliot',
 'address': 'Wall Street',
 'age': 17,
 'Phone Number': '+923328829273'}

In [42]:
# Initialize an empty dictionary
tasks = {}

# Loop four times to get four tasks from the user
for i in range(2):
    user_input = input(f"Enter task {i+1}: ")
    tasks['Task '+ str(i+1)] = user_input

# Print the tasks stored in the dictionary
print("Tasks entered:")
print(tasks)
for key, value in tasks.items():
    print(f"{key}: {value}")

Tasks entered:
{'Task 1': 'read', 'Task 2': 'write'}
Task 1: read
Task 2: write

In [43]:
customer['City'] = 'LA'

In [44]:
customer

{'first name': 'David',
 'Last name ': 'Elliot',
 'address': 'Wall Street',
 'age': 17,
 'Phone Number': '+923328829273',
 'City': 'LA'}

In [47]:
# Looping on dictionaries 
# By Default keys 
# customer.keys(),customer.items()
for key,values in customer.items():
    print(key,values)

first name David
Last name  Elliot
address Wall Street
age 17
Phone Number +923328829273
City LA

In [49]:
customer

{'first name': 'David',
 'Last name ': 'Elliot',
 'address': 'Wall Street',
 'age': 17,
 'Phone Number': '+923328829273',
 'City': 'LA'}

In [56]:
list_of_dict = [
   {'first name': 'David',
 'Last name ': 'Elliot',
 'address': 'Wall Street',
 'age': 17,
 'Phone Number': '+923328829273',
 'City': 'LA'} ,
 {'first name': 'Hassan',
 'Last name ': 'Khan',
 'address': 'Wall Street',
 'age': 17,
 'Phone Number': '+923328829273',
 'City': 'LA'},
 {'first name': 'Juice',
 'Last name ': 'WRLD',
 'address': 'Burns road',
 'age': 17,
 'Phone Number': '+923328829273',
 'City': 'LA'}
]

In [57]:
list_of_dict[0]

{'first name': 'David',
 'Last name ': 'Elliot',
 'address': 'Wall Street',
 'age': 17,
 'Phone Number': '+923328829273',
 'City': 'LA'}

In [58]:
list_of_dict[0]['address']

'Wall Street'

In [59]:
for i in range(len(list_of_dict)):
    print(list_of_dict[i]['address'])

Wall Street
Wall Street
Burns road